spring:
  profiles:
    active:
	- dev

---
server:
  port: 8001
spring:
  profiles: dev
  application:
    name: microservice-dept
eureka:
  client:
    service-url:
	  defaultZone: http://eureka7001.com:7001/eureka
	  
---
server:
  port: 8001
spring:
  profiles: uat
  application:
    name: microservice-dept
eureka:
  client:
    service-url:
	  defaultZone: http://eureka7001.com:7001/eureka