server:
  port: 8001

spring:
  application:
    name: microservice-dept
eureka:
  client: #客户端注册进eureka服务列表内
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka
  instance:
    instance-id: microservice-dept8001-hystrix   #自定义服务名称信息